<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('회원가입')"></head>

<body>

    <nav th:replace="fragments/common :: navigation"></nav>

    <div class="container">
        <h1>회원가입</h1>
        <form action="/auth/join" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="password">
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary text-end">가입</button>
            </div>
        </form>
    </div>
</body>

</html>